/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
resources/views/communityadmin/community/upload.blade.php
resources/views/communityadmin/community/notification.blade.php
resources/views/communityadmin/community/notification.blade.php
database/factories/CommunityFactory.php
database/factories/UserFactory.php
database/factories/VenueFactory.php
database/factories/UserFactory.php
